#{extends 'main.html' /}
#{set title:'Create a new post' /}

<nav class="ui menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui active item" href="/blog">Blog</a>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
  <a class="ui item" href="/about">About</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/logout">Log out</a>
</nav>

<section class="ui fluid form segment">
<div class="ui two column grid">
  <div class="column">
    <form action="/blog/newpost" method=POST>
      <div class="ui fluid form segment">
        <div class="field">
          <textarea placeholder='Choose a title for post' name="title" rows="1"></textarea>
        </div>
        <div class="field">
          <textarea placeholder='Write your post here' name="content"></textarea>
        </div>
        <button class="ui blue button">Submit New Post</button>
      </div>
    </form>
  </div>
 

  <div class="ui fluid form segment"> 
   
    #{list items:posts, as:'post'}       
      <a href="/blog/viewPost/${post.id}">
        <h5>${post.title}</h5>
      </a>
      <a href="/blog/deletePost/${post.id}"><button class="ui red button">Delete</button></a>        
    #{/list}
        
  </div>
</div> 
</section>
