#{extends 'main.html' /}
#{set title:'View a post' /}

<nav class="ui menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui active item" href="/blog">Blog</a>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
  <a class="ui item" href="/about">About</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/logout">Log out</a>
</nav>

<section class="ui fluid form segment">
  <h4>${post.title}</h4>
  <p>${post.content}</p>
  <hr>
  <h5>Comments:</h5>
  
  #{list items:post.comments, as:'comment'}
   <p>${comment.content}</p>
   <a href="@{BlogPost.deleteComment(post.id, comment.id)}"><button class="ui red button">Delete</button></a>
  #{/list} 
  
  <hr>
    <form action="/blogPost/addComment/${post.id}" method="POST">
      <div class="ui fluid form segment">        
        <div class="field">
          <textarea placeholder='Write your comment here' name="content"></textarea>
        </div>
        <button class="ui blue button">New Comment</button>
      </div>
    </form>  
</section>