#{extends 'main.html' /}
#{set title:'About' /}

<nav class="ui menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui item" href="/blog">Blog</a>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
  <a class="ui item" href="/about">About</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/logout">Log out</a>
</nav>

<div class="ui grid">
  <div class="six wide column">
    <div class="ui raised segment">
      <h3>Copyright 2016 WitPress. All rights reserved</h3>
    </div>
  </div>
</div>