#{extends 'main.html' /}
#{set title:'Contact' /}

<nav class="ui menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui item" href="/blog">Blog</a>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
  <a class="ui item" href="/about">About</a>
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/logout">Log out</a>
</nav>

<div class="ui grid">
  <div class="six wide column">
    <div class="ui raised segment">
      <h3>witpress@wit.ie</h3>
    </div>
  </div>
</div>