#{extends 'main.html' /}
#{set title:'Login' /}

<nav class="ui menu">
  <a class="ui active item" href="/">WitPress</a>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
  <a class="ui item" href="/about">About</a>
  <a class="ui item" href="/contact">Contact</a>
</nav>

<section class="ui segment">
  <a href="/signup"><button class="massive ui blue button">Get Started - sign up here</button></a>
</section>
<section class="ui segment">
  <h5>If already registered log in and begin publishing</h5>
  <form action="/login/authenticate" method="POST">
    <div class="ui two column grid">
    <div class="column">
      <div class="ui fluid form segment">
        <div class="field">
          <input placeholder="Email" name="email" type="text">
        </div>
        <div class="field">
          <input placeholder="Password" type="password" name="password">
        </div>
        <button type="submit" class="ui blue submit button">Login</button>
      </div>
    </div>
    </div>
  </form>
</section>